.filter {
    margin: 45px 0;
}

.filter input{
    border-radius: 26px;
    height: 50px;
    width: 418px;
    margin-left: 10px;
    border: 1px solid #D8D8D8
}

.filter span{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
}
  
  